#test {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#test ul {
  padding: 0;
}

#test ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}

#test ul li:nth-child(1) p {
  background: #F3FFBD;
}

#test ul li:nth-child(2) p {
  background: #247BA0;
}

#test ul li:nth-child(3) p {
  background: #FF1654;
}

#test ul p {
  position: relative;
  background: rebeccapurple;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  padding: 0;
  line-height: 200px;
  text-align: center;
}
